@using Sale4.Controllers.Common
@{     
    Layout = null;
}
<div ng-controller="detailCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading">
            活动基本信息
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-10 ">
                    <div class="form-group">
                        <h3>编号<span class="label label-primary" ng-bind="fmStaticHtml.HtmlCode"></span></h3>
                    </div>
                    <div class="form-group">
                        <label>名称</label>
                        <input type="text" class="form-control" ng-model="fmStaticHtml.HtmlName">
                    </div>
                    <div class="form-group">
                        <label>页面banner路径</label>
                        <hjupload filemodel="fmStaticHtml.HtmlBannerUrl"></hjupload>
                    </div>
                    <div class="form-group">
                        <label>页面动态效果图片路径</label>
                        <hjupload filemodel="fmStaticHtml.HtmlAnimateUrl"></hjupload>
                    </div>
                    <div class="form-group">
                        <label>页面背景图片路径</label>
                        <hjupload filemodel="fmStaticHtml.HtmlBackgroundUrl"></hjupload>
                    </div>
                    <div class="form-group ">
                        <div class="input-group">
                            <label for="checkbox1" class="checkbox">
                                <input type="checkbox" data-toggle="checkbox" id="checkbox1" ng-checked="fmStaticHtml.IsAutoDisabled == 1" ng-click="timeChecked()" class="custom-checkbox"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                自动下架活动
                            </label>
                        </div>
                    </div>
                    <div class="form-group " ng-show="fmStaticHtml.IsAutoDisabled == 1">
                        <label>开始时间</label>
                        <datetimepicker recipient="fmStaticHtml.StartTime"></datetimepicker>
                    </div>
                    <div class="form-group " ng-show="fmStaticHtml.IsAutoDisabled == 1">
                        <label>结束时间</label>
                        <datetimepicker recipient="fmStaticHtml.EndTime"></datetimepicker>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("~/Views/Activity/FloorList.cshtml")
    </div>

    <div class="modal-footer">
        <div class="col-xs-3" ng-show="fmStaticHtml.StaticHtmlId != ''">
            <a class="btn btn-block btn-lg btn-primary" ng-href="actDetail#/Floor/Add/{{fmStaticHtml.StaticHtmlId}}">添加楼层</a>
        </div>
        <div class="col-xs-3">
            <a class="btn btn-block btn-lg btn-warning" href="actIndex">返回</a>
        </div>
        <div class="col-xs-3">
            <a class="btn btn-block btn-lg btn-inverse" ng-click="submitDetail()">保存</a>
        </div>
        <div class="col-xs-3" ng-show="fmStaticHtml.StaticHtmlId != ''">
            <a class="btn btn-block btn-lg btn-danger" href="@string.Format("{0}/activity/sale/", SaleCommon.SiteHost){{fmStaticHtml.HtmlCode}}" target="_blank">预览</a>
        </div>
    </div>
</div>

